:root {
    --pale-purple: rgb(200, 150, 255);
    --light-purple: rgb(150, 75, 255);
    --rich-purple: rgb(100, 50, 255);
    --dark-purple: rgb(50, 25, 127);
    
    --deep-yellow: rgb(226, 226, 152);
    --pale-yellow: rgb(255, 255, 235);
}

.navbar-root, .content-root {
    margin: 0px;
    padding: 0px;
}
nav {
    padding: 0px;
    margin: 0px;
    background-color: var(--deep-yellow);
    display: flex;
    flex-direction: row;
}

.navBarList {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
}

.navBarItem {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

/* Text Styling */

.navTitle {
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--dark-purple);
    animation: fadeInUp 0.5s ease-out forwards;
}

.navBarItemText {
    color: var(--rich-purple);
    animation: fadeInUp 0.5s ease-out forwards;
    padding: 0px;
}

.navBarItemText:hover {
    color: var(--dark-purple);
}

a {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-line-break {
    margin-top: 0px;
    background-color: var(--dark-purple);
    animation: lineGrow .5s ease-out forwards;
}

/* Divs */
body {
    padding: 0px;
    margin: 0px;
    background-color: var(--deep-yellow);
}

main {
    
}

aside {

}