<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}"></link>
    <title>Error Page</title>
</head>
<body id="root">
    <div style="text-align:center">
        <h1 style="">Error Requires Logged In User</h1>
        <br/>
        <h3><a href="/LoginForm">Go here to log in</a></h3>
        <a href="/">Return to home</a>
    </div>
</body>
</html>