<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}"></link>
</head>
<body>
    <nav>
        <a href="/">
            <h1 class="navTitle">ByteBlog</h1>
        </a>
        <ul class="navBarList">
            <li class="navBarItem">
                <a href="/Posts">
                    <h3 class="navBarItemText">
                        Posts
                    </h3>
                </a>
                
            </li>
            <li class="navBarItem">
                <a href="/Projects">
                    <h3 class="navBarItemText">
                        Projects
                    </h3>
                </a>
            </li>
            <li class="navBarItem">
                <a href="/AboutMe">
                    <h3 class="navBarItemText">
                        About Me
                    </h3>
                </a>
            </li>
            <li class="navBarItem">
                <a href="/ContactMe">
                    <h3 class="navBarItemText">
                        Contact Me
                    </h3>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Hello World</h2>
    </main>
    <aside>
        <h3>Aside</h3>
    </aside>

</body>
</html>